<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete Post</title>
</head>
<body>
    <h1>게시글 삭제</h1>
    <p>제목: <span th:text="${post.title}"></span></p> 
    <p>내용: <span th:text="${post.content}"></span></p>
    <p>작성일: <span th:text="${post.createdDate}"></span></p>
	<p>정말 삭제 하시겠습니까?</p>
    <form method="post" th:action="@{'/board/delete/' + ${postId}}" th:object="${post}">
       	<input type="hidden" th:value="${post.id}"/> <!-- 게시글 ID를 숨겨 전달 -->
        <button type="submit">삭제하기</button>
        <a th:href="@{'/board/detail/' + ${post.id}}">취소</a>
    </form>   
</body>
</html>