<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Board List</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <table>
        <thead>
            <tr>
                <th>글번호</th>
                <th>닉네임</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.nickname}"></td>
                <td>
                    <a th:href="@{'/board/detail/' + ${post.id}}">
                        <span th:text="${post.title}"></span>
                    </a>
                </td>
                <td th:text="${post.createdDate}"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/board/write}">게시글 작성</a>
    </div>
</body>
</html>