<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Write Post</title>
</head>
<body>
    <h1>게시글 작성</h1>
    <form method="post" th:object="${post}" th:action="@{/board/write}" enctype="multipart/form-data">
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" th:field="*{nickname}" required/>
        <br/>
        <label for="title">제목:</label>
        <input type="text" id="title" th:field="*{title}" required/>
        <br/>
        <label for="content">내용:</label>
        <textarea id="content" th:field="*{content}" required></textarea>
        <br/>
        <button type="submit">작성완료</button>
        <a th:href="@{'/board/list'}">게시글 목록</a>
    	<a th:href="@{/board/uploadfile}">파일 업로드</a>
    </form>
</body>
</html>